{% extends 'layouts/default.html.twig' %}

{% block title %}Formulare{% endblock %}

{% block left %}
    <div class="app-box-bg">
        <p>Nav 1</p>
        <p>Nav 2</p>
        <p>Nav 3</p>
        <p>Nav 4</p>
    </div>
{% endblock %}

{% block main %}
    <div class="app-box-bg h-100">
        <p>Formullare</p>
    </div>
{% endblock %}
