{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex-column h-100">
        <div class="navbar navbar-expand-lg bg-lightgray">
            <div class="container px-5">
                <a class="navbar-brand fw-bold d-flex-center gap-2 text-decoration-none" href="{{ path('app_intro') }}">
                    <img src="{{ asset('images/logo-fbpro.png') }}" alt="FormBuilder Pro Logo" width="40" height="40" class="d-inline-block align-text-top" />
                    FormBuilder Pro
                </a>
            </div>
        </div>
        <div class="container d-flex-column-center flex-1 mb-5" style="max-width:860px;">
            <div class="w-100">
                <h1 class="mb-5">
                    {% block title %}{% endblock %}
                </h1>
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
