{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex-column h-100">
        <div class="mb-4">
            <twig:Html:Nav items="{{[
                {route: 'app_forms_index', label: 'Formulare'},
                {route: 'app_home', label: 'Home'},
            ]}}" />
        </div>

        {% if block('title') %}
            <div class="px-3 mb-4">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <h1>
                                {% block title %}{% endblock %}
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if block('main') %}
            <div class="px-2 mb-5 flex-1">
                <div class="container-fluid h-100">
                    <div class="row h-100">
                        {% if block('left') %}
                            <div class="col-3 h-100">
                                {% block left %}{% endblock %}
                            </div>
                        {% endif %}
                        <div class="col h-100">
                            {% block main %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        {% elseif block('content') %}
            <div class="container-lg mb-5 h-100">
                <div class="row h-100">
                    <div class="col h-100">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
