{% extends 'base.html.twig' %}


{% block body %}
    {% set navItems = [
        {route: 'app_home', label: 'Home'},
        {route: 'app_home', label: 'Home'},
        {route: 'app_home', label: 'Home'},
        {route: 'app_home', label: 'Home'},
        {route: 'app_home', label: 'Home'},
        {route: 'app_home', label: 'Home'},
    ] %}

    <twig:Html:Nav :items="navItems" />
    {% block head %}{% endblock %}
    {% block main %}{% endblock %}

    <div class="container-sm" style="background:blue;">container-sm</div>
    <div class="container-md" style="background:#8a8aac;">container-md</div>
    <div class="container-lg" style="background:#00ff19;">container-lg</div>
    <div class="container-xl" style="background:#ffb300;">container-xl</div>
    <div class="container-xxl" style="background:#ff00f2;">container-xxl</div>
    <div class="container-fluid" style="background:#ff0000;">
        container-flui
    </div>
{% endblock %}
