{% extends 'layouts/public.html.twig' %}

{% block title %}Registration{% endblock %}

{% block content %}
    {% if error %}
        <p>
            Oh nooooo, error.
        </p>
    {% else %}
        <p>
            Yeeeeees {{ user|username }}! :o)
        </p>
    {% endif %}
{% endblock %}
