html, body {
    background-color: white;
    height: 100%;
}

[x-cloak] {
    visibility: hidden;
}

/* colors */
.color-white {
    color: white;
    border-color: white;
}
.bg-app {
    background-color: #2a4494;
}
.bg-lightgray {
    background-color: #efefef;
}

/* common */
hr {
    margin: 2.68rem 0;
    color: #aaa;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.d-flex-column {
    display: flex;
    flex-direction: column;
}
.d-flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-1 {
    flex: 1;
}

.inset-0 {
    inset: 0;
}

.scale-lg {
    scale: 1.1;
}
.scale-sm {
    scale: 0.9;
}
.scale-s {
    scale: 0.8;
}
.scale-xs {
    scale: 0.7;
}
