:root, [data-bs-theme=light] {
    --bs-border-color-translucent: #e9e9e9;
}

/** modal */
body:has(.modal-backdrop) {
    #body {
        filter: blur(4px);
    }
}

.modal-content {
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, .01);
}

.modal-backdrop {
    --bs-backdrop-bg: #eee !important;
}
.modal.fade {
    transition: all 120ms ease;
}
.modal-backdrop.fade {
    transition: all 120ms ease;
}

/** form */
.form-floating > textarea.form-control {
    height: auto;
}
