{% extends 'layouts/auth.html.twig' %}

{% block title %}
    Reset Password
{% endblock %}

{% block content %}
    {% if action == 'request' %}
        {% include('pages/auth/reset/request.html.twig') %}
    {% else %}
        {% include('pages/auth/reset/confirm.html.twig') %}
    {% endif %}

    <p>Your can remember? <a href="{{ path('app_auth_login') }}">Login</a> :)</p>
{% endblock %}
