{% extends 'layouts/email.html.twig' %}

{# @var user \App\Entity\User #}

{% block body %}
    Hallo lieber {{ user | username }},<br />
    <br />
    Mit dem folgenden Link kannst du dein Passwort zurücksetzen:<br />
    <br />
    <a href="{{ url('app_auth_reset_confirm', { token: token }) }}">
        Passwort zurücksetzen
    </a>
    <br />
    <br />
    Bitte beachte, dass dieser Link nur eine Stunde gültig ist.
{% endblock %}
