{% extends 'layouts/email.html.twig' %}

{# @var user \App\Entity\User #}

{% block body %}
    Hallo lieber {{ user | username }},<br />
    <br />
    Willkommen bei FormBuilder Pro!<br />
    <br />
    Bestätige deine Registrierung mit dem folgenden Link:<br />
    <br />
    <a href="{{ url('app_auth_registration_confirm', { token: token }) }}">
        Passwort zurücksetzen
    </a>
{% endblock %}
