{% extends 'layouts/default.html.twig' %}

{% block content %}
    <div class="app-box-bg h-100">
        {% if is_granted('APP_USER') %}
            <p>
                Diese Seite wurde nicht gefunden.
            </p>
        {% elseif is_auth() %}
            <p class="position-center">
                Bitte bestätigen Sie Ihre E-Mail-Adresse durch Klick auf den Link in der Anmelde-E-Mail.
            </p>
        {% else %}
            <p>
                Das darfst du nicht.
            </p>
        {% endif %}
    </div>
{% endblock %}
